{{content-aware this.layoutModel.length (action this.contentObserber)}}
<div 
    class="grid-layout" 
    style={{containerStyle}} 
    {{did-resize this.onResize debounce=150}}
    {{on "dragover" (action this.dragoveraction)}}>
    
    {{yield (hash
      containerWidth=this.width
      margin=this.margin
      rowHeight=this.rowHeight
      containerPadding=this.containerPadding
      cols=this.cols
      maxRows=this.maxRows
      onDragStart=(fn this.onDragStart)
      onDragStop=(fn this.onDragStop)
      remove=(fn this.remove)
      modifyShape=(fn this.modifyShape)
      ) this.layoutModel}}
</div>
