<DraggableObject 
    @content={{this}} 
    @dragStartHook={{action "dragStartAction"}}
    @dragEndAction={{action "dragEndAction"}}
    @dragHandle={{@handle}}
>

    <div class="grid-item" style={{styleText}}>
        {{yield (hash remove=(action "remove"))}}
    </div>
</DraggableObject>


