<div
    draggable={{this.canDrag}}
    {{on "dragstart" this.dragStartAction}}
    {{on "dragmove" this.dragMoveAction}}
    {{on "dragend" this.dragEndAction}}
    {{on "mouseover" this.mouseOverAction}}
    {{on "mouseleave" this.mouseLeaveAction}}
    class="grid-item" style={{this.styleText}}>
    {{yield}}
</div>


