<DraggableObject 
    @content={{this}} 
    @dragStartHook={{fn this.dragStartAction}}
    @dragEndAction={{fn this.dragEndAction}}
    @dragMoveAction={{fn this.dragMoveAction}}
    @dragHandle={{@handle}}
>
    <div class="grid-item" style={{this.styleText}}>
        {{yield}}
    </div>
</DraggableObject>


