{{content-aware this.layoutModel.length (action this.contentObserber)}}
<div 
    class="grid-layout" 
    style={{containerStyle}} 
    {{did-resize this.onResize debounce=150}}
    {{on "dragover" (action this.dragoveraction)}}>
    
    {{yield (hash
      containerWidth=width
      margin=margin
      rowHeight=rowHeight
      containerPadding=containerPadding
      cols=cols
      maxRows=maxRows
      onDragStart=(action "onDragStart")
      onDragStop=(action "onDragStop")
      remove=(action "remove")
      modifyShape=(action "modifyShape")
      ) this.layoutModel}}
</div>
