{{content-aware this.layoutModel.length (action this.contentObserber)}}
{{content-aware this.width (action this.widthObserver)}}
<div 
    class="grid-layout" 
    style={{containerStyle}} 
    {{on "dragover" (action this.dragoveraction)}}
    {{on "drop" (action this.dropaction)}}
    >
    
    {{yield (hash
      containerWidth=this.width
      margin=this.margin
      rowHeight=this.rowHeight
      containerPadding=this.containerPadding
      cols=this.cols
      maxRows=this.maxRows
      onDragStart=(fn this.onDragStart)
      onDragStop=(fn this.onDragStop)
      remove=(fn this.remove)
      modifyShape=(fn this.modifyShape)
      ) this.layoutModel}}
</div>
