<DraggableObject 
    @content={{this}} 
    @dragStartHook={{action "dragStartAction"}}
    @dragEndAction={{action "dragEndAction"}}
    @dragMoveAction={{action "dragMoveAction"}}
    @dragHandle={{@handle}}
    
>
    <div class="grid-item" style={{styleText}}>
        {{yield}}
    </div>
</DraggableObject>


