Index test

<button {{action "add"}}>add</button> <button {{action "changeWidth"}}>width</button>

<GridLayout 
    @layoutModel={{this.wrappedLayout}} 
    @positionKey="position" 
    @width={{this.width}} 
    @rowHeight={{40}}
    as |grid layoutModel|>
    {{#each layoutModel as |item index|}}
        <GridItem @grid={{grid}} @pos={{get item "position"}} @index={{index}} @handle=".dragHandle">
            <a class="dragHandle">handle</a>
            <button {{action grid.remove item}}> X </button>

            <button {{action grid.modifyShape item (hash h=1)}}> Width </button>
            <div key={{index}}>
                <span class="text">{{item.data}}</span>
            </div>
        </GridItem>
    {{/each}}
</GridLayout>
