Index test

<button {{action "add"}}>add</button>

<GridLayout @layoutModel={{this.layout}} as |grid layoutModel|>
    {{#each layoutModel as |l index|}}
        <GridItem @grid={{grid}} @pos={{l}} @index={{index}} @layoutModel={{layoutModel}}>
            <div key={{index}}>
                <span class="text">{{l.i}}</span>
                w={{l.w}}, h={{l.h}}
                x={{l.x}}, y={{l.y}}
            </div>
        </GridItem>
    {{/each}}
</GridLayout>
