<div 
    class="grid-layout" 
    {{on "dragover" this.dragoveraction}}
    {{on "drop"  this.dropaction}}
    {{did-insert this.updateHeight this.containerHeight}}
    {{did-insert this.widthObserver this.width}}
    {{did-update this.updateHeight this.containerHeight}}
    {{did-update this.widthObserver this.width}}
    {{did-update this.colsObserver this.cols}}
    {{did-update this.contentObserber this.layoutModel.length}}
>
    {{yield (hash
      containerWidth=this.width
      margin=this.margin
      rowHeight=this.rowHeight
      containerPadding=this.containerPadding
      cols=this.cols
      maxRows=this.maxRows
      onDragStart=(fn this.onDragStart)
      onDragStop=(fn this.onDragStop)
      remove=(fn this.remove)
      modifyShape=(fn this.modifyShape)
      ) this.layoutModel}}
</div>
