Index test

<GridLayout @layoutModel={{this.layout}} as |grid layoutModel|>
    {{#each layoutModel as |l i|}}
        <GridItem @grid={{grid}} @pos={{l}} @index={{i}}>
            <div key={{i}}>
                <span class="text">{{i}}</span>
                w={{l.w}}, h={{l.h}}
                x={{l.x}}, y={{l.y}}
            </div>
        </GridItem>
    {{/each}}
</GridLayout>



<button {{action "test"}}>ff</button>
