Index test

<GridLayout @layoutModel={{this.layout}} as |grid layoutModel|>
    {{#each layoutModel as |l i|}}
        <GridItem @grid={{grid}} @pos={{l}}>
            <div key={{i}}>
                <span class="text">{{i}}</span>
            </div>
        </GridItem>
    {{/each}}
</GridLayout>



<button {{action "test"}}>ff</button>