Index test

<GridLayout @layoutModel={{this.layout}} as |grid layoutModel|>
    {{#each layoutModel as |l index|}}
        <GridItem @grid={{grid}} @pos={{l}} @index={{index}}>
            <div key={{index}}>
                <span class="text">{{index}}</span>
                w={{l.w}}, h={{l.h}}
                x={{l.x}}, y={{l.y}}
            </div>
        </GridItem>
    {{/each}}
</GridLayout>
